{# purpose of this template: tournaments index view #}
{% extends routeArea == 'admin' ? 'ZikulaTrivialModule::adminBase.html.twig' : 'ZikulaTrivialModule::base.html.twig' %}
{% block title __('tournaments') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the tournament section of the Trivial application.') }}</p>
{% endblock %}
