body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

#zikulatrivialmoduleItemContainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#zikulatrivialmoduleItemContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#zikulatrivialmoduleItemContainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#zikulatrivialmoduleItemContainer a:hover,
#zikulatrivialmoduleItemContainer a:focus,
#zikulatrivialmoduleItemContainer a:active {
    color: #900;
    text-decoration: none;
}

.zikulatrivialmodule-finderform fieldset,
.zikulatrivialmodule-finderform fieldset legend {
    background-color: #fff;
    border: none;
}
